[Unit]
Description=Xremap Kritomatic Merger Service
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStartPre=/usr/bin/sleep 5
ExecStart=/usr/bin/python REPODIR_PLACEHOLDER/merger.py
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
